@import url('https://fonts.googleapis.com/css?family=Chilanka&display=swap');
.card {
    border: transparent;
    border-radius: 3px;
    padding: 20px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    font-family: 'Chilanka', cursive;
    margin-bottom: 5px;
     background: #fafafa;
  }
  
  .card-header {
    border: transparent;
    padding: 10px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    font-family: 'Chilanka', cursive;
    margin-bottom: 5px;
     background: #fafafa;
  }
  
  
  .card .card-content {
    display: flex;
    flex-direction: column;
    border: transparent;
    padding: 10px;
  }
  
   .card-content .input-field {
    border: transparent;
    border-radius: 3px;
    font-family: 'Chilanka', cursive;
    font-size: 15px;
    background: #ecf0f1;
    padding: 10px;
    max-width: 100%;
    margin-bottom: 4px;
  }
  
   .card-content .input-field select {
    border: #ecf0f1 1px solid;
    border-radius: 3px;
    font-family: 'Chilanka', cursive;
    font-size: 15px;
    padding: 10px;
    width: 100%;
    margin-bottom: 4px;
    appearance: none;
    -webkit-appearance: none;
  }
  
  .post-button {
    border: transparent;
    border-radius: 3px;
    padding: 10px;
    color: #fafafa;
    font-family: 'Chilanka', cursive;
    font-weight: bold;
    font-size: 16px;
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
    width: 100%;
    outline: none;
  }
  .remove-button {
    border: transparent;
    border-radius: 3px;
    padding: 10px;
    color: #fafafa;
    font-family: 'Chilanka', cursive;
    font-weight: bold;
    font-size: 16px;
    background: #D31027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EA384D, #D31027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EA384D, #D31027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    outline: none;
  }
  .edit-button {
    border: transparent;
    border-radius: 3px;
    padding: 10px;
    color: #fafafa;
    font-family: 'Chilanka', cursive;
    font-weight: bold;
    font-size: 16px;
    background: #00B4DB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    outline: none;
  }